{
  "extends": ["react-app", "google"],
  "rules": {
    "require-jsdoc": "off",
    "linebreak-style": "off",
    "no-invalid-this": "off",
    "jsx-a11y/href-no-hash": "off",
    "new-cap": "off"
  }
}
